{% extends "base.html.twig" %}
{% block title %}Chiffre d'affaire | Cours-de-natation.com{% endblock %}
{% block body %}
<div class="container">
  <h1>Chiffre d'affaire</h1>
  <h2>Chiffre d'affaire total : {{totalCA}}&euro; | Nombre d'élèves : {{totalNbLesson}}</h2>
  <h4>Debut momo remplacement : 27/04/2024</h4>
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">CA brut</th>
          <th scope="col">Revenues Kineau</th>
          <th scope="col">Revenues MNS</th>
          <th scope="col">Revenues net /MNS</th>
          <th scope="col">Nombre d'élèves</th>
          <th scope="col">Fichier</th>
        </tr>
      </thead>
      <tbody>
      {% for data in tabData %}
        <tr class="table-active">            
          <th scope="row">
            {% for date in data.uniqueDates %}
            {{ date }}<br>
          {% endfor %}
          </th>
          <td>{{data.ca}}&euro;</td>
          <td>{{data.ca * 0.4}}&euro;</td>
          <td>{{data.ca * 0.6}}&euro;</td>
          <td>{{data.ca * 0.6 * 0.5}}&euro;</td>
          <td>{{data.nbLesson}}</td>
          <td><a href="/Data/{{data.file}}">{{data.file}}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
